* {
    margin: 0px;
    padding: 0px;
}

body, div, form, img, dl, dt, tr, td, dd, ul, li, h1, h2, h3, h4, input, p, a, form, table {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

ul {
    list-style: none;
}
